<!DOCTYPE html>
<html>

<head>
	<title>
    Nomad News | {{datas[0].title}}
  </title>
  <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
</head>

<body>
  <header>
    <h1> {{datas[0].title}}</h1>
    <div>
       {{datas[0].point}} points | By  {{datas[0].by}} | <a href=" {{datas[0].url}}" target="_blank">{{datas[0].url}}</a>
    </div>
  </header>
  <main>
    {% for data in datas[1:] %}
      <div>
        {% if data.comment == "Del" %}
          [deleted]
        {% else %}
          <strong>{{data.name}}:</strong>
          {{data.comment|safe}}
        {% endif %}
      </div>
      <hr />
    {% endfor %}
  </main>
</body>

</html>